{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
	<div class="p-4 bg-light rounded-4 shadow" style="width: 100%; max-width: 480px;">
		<form action="/login-auth" method="get">
			<img class="mx-auto d-block mb-5" src="{% static 'logo.png' %}">
			<div class="mb-4">
				<label class="mb-2">Enter Username</label>
				<input type="text" class="form-control" name="username">
			</div>
			<div class="mb-4">
				<label class="mb-2">Enter Password</label>
				<input type="password" class="form-control" name="password">
			</div>
			<button type="submit" class="btn my-2 px-4 w-100" style="background-color: #cddc39;">Login</button>
		</form>
	</div>
</div>
{% endblock %}