{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3>Latest Blogs</h3>
<div class="row my-4 g-3 align-items-center">
	{% for blog in blogs %}
	<div class="col-6 col-md-4 col-lg-3">
		<div class="card border-0" style="background-color: transparent;">
		  <img class="card-img" src="{{ blog.cover.url }}">
		  <div class="card-body p-2">
		    <p class="card-text text-center" style="font-size: small;"><b>{{ blog.title }}</b> - {{ blog.user.fname }} {{ blog.user.lname }}</p>
		    <a href="{% url 'blog' id=blog.id %}" class="stretched-link"></a>
		  </div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}