{% extends 'base.html' %}

{% block content %}
<div class="bg-white rounded-4 p-4">
<form action="/post" method="post">
    {% csrf_token %}
    <label class="mb-2">Enter Title</label>
    <input type="text" placeholder="Title for your blog" class="form-control mb-4" name="title" />
    <label class="mb-2">Cover Image</label>
    <input type="file" class="mb-4" name="cover" style="width: 100% !important" />
    <label class="mb-2">Blog Body</label>
    <textarea name="body" rows="12" placeholder="Body of your blog" class="form-control mb-4"></textarea>
    <button class="btn btn-lg px-4 rounded-pill" style="background-color: #cddc39;">Create</button>
</form>
</div>
{% endblock %}