{% extends 'base.html' %}
{% load static %}

{% block content %}
	<style type="text/css">
		table {
			border-collapse: collapse;
		}

		td {
			padding-bottom: 1rem;
			vertical-align: text-top;
		}

		.point {
			font-weight: bold;
			color: #cddc39;
			padding-right: 2rem;
			white-space: nowrap;
		}
	</style>
	<h1 class="display-6 mb-5">Profile</h1>
	<div class="mb-5 p-3 d-md-flex gap-5 border-start border-4 bg-body-tertiary" style="border-color: #cddc39 !important;">
		<img src="{% static 'avatar.png' %}" height="200px" width="200px">
		<table>
			<tr>
				<td class="point">Username</td>
				<td>{{ user.username }}</td>
			</tr>
			<tr>
				<td class="point">Email</td>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<td class="point">First name</td>
				<td>{{ user.fname }}</td>
			</tr>
			<tr>
				<td class="point">Last name</td>
				<td>{{ user.lname }}</td>
			</tr>
			<tr>
				<td class="point">Bio</td>
				<td>{{ user.about }}</td>
			</tr>
		</table>
	</div>
	<h1 class="display-6 mb-5">Your Blogs</h1>
	<div class="row mb-5 g-4 align-items-center">
	{% for blog in blogs %}
	<div class="col-6 col-md-4 col-lg-3">
		<div class="card border-0">
		  <img class="card-img rounded-4" src="{{ blog.cover.url }}">
		  <div class="card-body p-2">
		    <p class="card-text text-center" style="font-size: small;">{{ blog.title }}</p>
		    <a href="{% url 'blog' id=blog.id %}" class="stretched-link"></a>
		  </div>
		</div>
	</div>
	{% endfor %}
	</div>
</div>
{% endblock %}