{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
  <div class="row flex-lg-row-reverse align-items-center g-4">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'hero.png' %}" class="d-block mx-lg-auto img-fluid" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-4">Share what's in your mind</h1>
      <p class="lead text-secondary mb-4">Here you can share your thoughts, experiences, and opinions on a variety of topics. It can be a great way to connect with other people who share your interests.</p>
      <a href="/blogs" class="btn btn-lg px-5 rounded-pill" style="background-color: #cddc39;">Explore</a>
    </div>
  </div>
</div>
{% endblock %}
